---
import { SignJWT } from "jose";
import {
  buildApiCall,
  type Entry,
  type QueryableFields,
  type Siblings
} from "../api";
import Card from "../components/Card";
import Icon from "../components/Icon";
import TagToolbar from "../components/TagToolbar";
import SingleColumn from "../layouts/SingleColumn.astro";

type EntryWithSiblings<K extends keyof QueryableFields> = {
  entry: Pick<Entry<K>, K | "children">;
  siblings: Siblings<K>;
};

interface ApiEntryBatchResponse<K extends keyof QueryableFields> {
  data: {
    version: string;
    entries: EntryWithSiblings<K>[];
  };
}

export async function getJwt(): Promise<string> {
  const alg = "HS256";
  const secret = import.meta.env.API_SECRET;

  return await new SignJWT()
    .setProtectedHeader({ alg })
    .sign(new TextEncoder().encode(secret));
}

export async function getStaticPaths() {
  const jwt: string = await getJwt();
  const headers: RequestInit = {
    headers: {
      Authorization: `Bearer ${jwt}`
    }
  };
  const response = await fetch(
    buildApiCall("devutils/entry/batch", "", {
      fields: ["word", "uri", "htmlDefinition", "excerpt"]
    }),
    headers
  );
  const json: ApiEntryBatchResponse<
    "word" | "uri" | "htmlDefinition" | "excerpt"
  > = await response.json();

  return json.data.entries.map((item) => {
    return {
      params: { uri: item.entry.uri },
      props: {
        entry: item.entry,
        siblings: item.siblings
      }
    };
  });
}

const { entry, siblings } = Astro.props;

if (!Object.keys(entry).length) return Astro.redirect("/404");

/*
 * Replace the Greek Beta Symbol with the regular letter as some browsers
 * may not display it accurately.
 */
const title = entry.word.replace(/\u03D0/g, "β");
---

<SingleColumn title={title} description={entry.excerpt}>
  <entry-article
    class="py-6 text-xl md:py-12"
    data-entry={JSON.stringify(entry)}
    role="article"
  >
    <header class="mb-3 flex items-center lg:mb-6">
      {
        siblings.previous?.uri && (
          <span class="flex flex-1 items-center">
            <a href={"/" + siblings.previous.uri}>
              <span class="lg:hidden">
                <Icon name="ArrowLeftCircle" />
              </span>
              <span class="grec max-lg:hidden">{siblings.previous.word}</span>
            </a>
          </span>
        )
      }
      <h1
        class={`grec shrink-0 text-2xl lg:text-3xl leading-loose font-bold ${
          !siblings.next?.uri ? "text-right" : "text-center"
        }`}
      >
        {entry.word}
      </h1>
      {
        siblings.next?.uri && (
          <span class="flex flex-1 items-center justify-end">
            <a href={"/" + siblings.next.uri}>
              <span class="lg:hidden">
                <Icon name="ArrowRightCircle" />
              </span>
              <span class="grec max-lg:hidden">{siblings.next.word}</span>
            </a>
          </span>
        )
      }
    </header>
    {
      entry.children ? (
        <section class="space-y-6 lg:space-y-12">
          {entry.children.map((childEntry, i) => (
            <article id={String(i)}>
              <Card content={childEntry.htmlDefinition}>
                <TagToolbar
                  client:load
                  transition:persist
                  slot="toolBar"
                  entry={childEntry}
                />
              </Card>
            </article>
          ))}
        </section>
      ) : (
        <Card content={entry.htmlDefinition}>
          <TagToolbar
            client:load
            transition:persist
            slot="toolBar"
            entry={entry}
          />
        </Card>
      )
    }
  </entry-article>
</SingleColumn>

<script>
  import type { Entry } from "../api";
  import { IdbHistory } from "../idb";

  class EntryArticle extends HTMLElement {
    constructor() {
      super();

      const entry: Pick<
        Entry<"word" | "uri" | "excerpt">,
        "word" | "uri" | "excerpt" | "children"
      > = JSON.parse(this.dataset.entry ?? "");
      IdbHistory.update(entry);
    }
  }

  customElements.define("entry-article", EntryArticle);
</script>
