---
/*
 * This is for compatibility with gaffiot.fr references.
 */

import { applyGreekVariants, KeyType, removeDiacritics } from "greek-conversion";
import { fetchEntries, type ApiLookupResponse } from "../api";
import SingleColumn from "../layouts/SingleColumn.astro";

export const prerender = false;

const { greekStr } = Astro.params;

let data: ApiLookupResponse<"word" | "uri" | "excerpt"> = {
  version: "",
  count: 0,
  countAll: 0,
  morphology: {},
  entries: []
};

const sanitizedGreekStr = applyGreekVariants(removeDiacritics(greekStr ?? "", KeyType.GREEK));

const NFDSanitizedGreekStr = sanitizedGreekStr.normalize("NFD");
const isGreekStr: boolean = (
  !/[a-z]/i.test(NFDSanitizedGreekStr) && /[α-ω]/i.test(NFDSanitizedGreekStr)
);

if (sanitizedGreekStr && isGreekStr) {
  data = await fetchEntries(sanitizedGreekStr, { fields: ["word", "uri", "excerpt"] });

  // Filter exact results.
  // @TODO: This should be done in the API.
  data.entries = data.entries.filter(entry => entry.isExact);
  data.count = data.entries.length;
  data.countAll = data.count;

  // Go to the definition if there is only one exact result.
  if (data.entries.length === 1) {
    return Astro.redirect(`/${encodeURIComponent(data.entries[0].uri)}`);
  }
}

/*
 * Replace the Greek Beta Symbol with the regular letter as some browsers
 * may not display it accurately.
 */
const title = sanitizedGreekStr?.replace(/\u03D0/g, "β") ?? "";
---

<SingleColumn title={title} description="" noindex>
  <entry-article
    class="space-y-3 py-6 text-xl md:py-12 lg:space-y-6"
    role="article"
  >
    <header>
      <h1 class="text-2xl font-bold leading-loose lg:text-3xl">
        {
          data.entries.length ? (
            <>Correspondances pour «&nbsp;{sanitizedGreekStr}&nbsp;»</>
          ) : (
            <>Aucune correspondance pour «&nbsp;{sanitizedGreekStr}&nbsp;»</>
          )
        }
      </h1>
    </header>

    {
      !isGreekStr ? (
        <section>
          <p>Les recherches doivent être rédigées en caractères grecs.</p>
        </section>
      ) : undefined
    }

    {
      data.entries.length ? (
        <section>
          <ul class="space-y-1.5 lg:space-y-3">
            {data.entries.map((entry) => (
              <li class="space-y-1.5 lg:space-y-3">
                <a href={`/${entry.uri}`}>{entry.word}</a>
                  {entry.children?.length ? (
                    <ol class="list-decimal pl-8 lg:pl-10 lg:space-y-1.5">
                      {entry.children.map((child) => (
                        <li><blockquote class="text-base text-neutral-700">{child.excerpt}</blockquote></li>
                      ))}
                    </ol>
                  ) :
                  <blockquote class="ml-2.5 lg:ml-5 text-base text-neutral-700">{entry.excerpt}</blockquote>
                }
              </li>
            ))}
          </ul>
        </section>
      ) : undefined
    }
  </entry-article>
</SingleColumn>
